/*Universal*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Helvetica, sans-serif;
    color: seashell;
    background-color: black;
}

/*Header*/
.container {
    width: 100%;
    padding: 0 10px;
}

header {
    position: fixed;
    border-bottom: 1px solid seashell;
    height: 69px;
    z-index: 1;
}

header h1 {
    padding: 10px;
    float: left;
}

ul {
    display: flex;
    justify-content: flex-end;
    list-style: none;
}

li {
    padding: 10px;
}

a {
    text-decoration: underline;
}

/*Main*/
main {
    top: 69px;
    padding: 20px;
    height: 700px;
    background-image: url("images/img-mission-background.jpg");
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}

.mission {
    background-color: black;
    color:seashell;
    height: 75px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

/*Section*/

img {
    width: 300px;
    height: 200px;
    margin: 20px;
    border: 1px solid seashell;
    border-radius: 5px;
}

.tea_month {
    margin-top: 20px;

}

/*Footer*/

footer {
    width: 100%;
    height: 200px;
    border-top: 1px solid seashell;
}
